@page
@model WebVella.Erp.Web.Pages.DebugModel
@using WebVella.Erp.Web;
@using WebVella.Erp.Web.Components;
@using WebVella.Erp.Web.Services;
@using WebVella.Erp.Web.Models;
@using WebVella.Erp.Api.Models;
@using WebVella.Erp;


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebVella.Erp.Web
@addTagHelper *, WebVella.Controls

@{
    Layout = "~/Pages/_AppMaster.cshtml";
    ViewData["Title"] = "Desktop";


    var fieldId = Guid.NewGuid();
    var data = new List<EntityRecord>();

}

<style>
    .rcard .card-body {
        display: flex;
        flex-flow: row;
        padding:0;
        flex-wrap: wrap;
    }

        .rcard .card-body .rcard-icon,
        .rcard .card-body .rcard-action{
            width:30px;
            background:#f5f5f5;
            flex-grow:0;
            flex-shrink:0;
            display:flex;
            justify-content:center;
            align-items:center;
            color:#555;
        }

        .rcard .card-body .rcard-icon {
            border-right:1px solid #e1e4e8;
        }

        .rcard .card-body .rcard-action {
            position:relative;
            border-left:1px solid #e1e4e8;
        }

        .rcard .card-body .rcard-action a{
            display:block;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            display:flex;
            justify-content:center;
            align-items:center;
            color:#555;
        }

            .rcard .card-body .rcard-action a:hover {
                text-decoration:none;
                background:#f2f2f2;
            }

        .rcard .card-body .rcard-body {
            flex-grow:1;
            min-height:3em;
            padding:5px 10px;
        }
</style>

<div class="row">
    <div class="col-6">
<div class="card rcard">
    <div class="card-body">
        <div class="rcard-icon"><i class="fa fa-user"></i></div>
        <div class="rcard-body">test</div>
        <div class="rcard-action"><a href=""><i class="far fa-arrow-alt-circle-right"></i></a></div>
    </div>
</div>

    </div>

</div>






