@page
@model WebVella.Erp.Web.Pages.DebugModel
@using WebVella.Erp.Web;
@using WebVella.Erp.Web.Components;
@using WebVella.Erp.Web.Services;
@using WebVella.Erp.Web.Models;
@using WebVella.Erp.Api.Models;
@using WebVella.Erp;


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebVella.Erp.Web
@addTagHelper *, WebVella.Controls

@{
    Layout = "~/Pages/_AppMaster.cshtml";
    ViewData["Title"] = "Desktop";


    var fieldId = Guid.NewGuid();
    var data = new List<EntityRecord>();

}

<style>
   
</style>

<div class="row">
    <div class="col-6">



    </div>

</div>






