@page
@model WebVella.Erp.Web.Pages.DebugModel
@using WebVella.Erp.Web;
@using WebVella.Erp.Web.Components;
@using WebVella.Erp.Web.Services;
@using WebVella.Erp.Web.Models;
@using WebVella.Erp.Api.Models;
@using WebVella.Erp;


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebVella.Erp.Web
@addTagHelper *, WebVella.Controls

@{
	Layout = "~/Pages/_AppMaster.cshtml";
	ViewData["Title"] = "Desktop";


	var fieldId = Guid.NewGuid();
	var data = new List<EntityRecord>();

}

<style>
    .path{
        display:flex;
        align-items:flex-start;
        flex-flow:row;
        overflow:hidden;
        list-style:none;
        margin:0;
        padding:0;
        font-size:12px;
    }

        .path .item {
            position:relative;
            flex:1;
            min-width:5em;
            text-align:center;
            margin-left: .375em;
            margin-right:.4375em;
            background:#ecebea;
            color:#555;
            list-style:none;
        }

            .path .item:first-child {
                margin-left: 0;
                border-top-left-radius:2em;
                border-bottom-left-radius:2em;
                padding-left:.625em;
            }

            .path .item:last-child {
                margin-right:0;
                border-top-right-radius:2em;
                border-bottom-right-radius:2em;
                padding-right:.625em;
            }

                .path .item:before,
                .path .item:after {
                    content:"";
                    position:absolute;
                    left:-.25em;
                    right:-.3125em;
                    cursor:pointer;
                    background:#ecebea;
                }

            .path .item:before {
                top:0;
                height:calc((2em/2) + 0.0625em);
                transform:skew(28deg) translate3d(0,0,0);
            }

            .path .item:after {
                bottom:0;
                height:1em;
                transform:skew(-30deg) translate3d(0,0,0);
            }

                .path .item:first-child:before,
                .path .item:first-child:after{
                    left:1.125em;
                }

                .path .item:last-child:before,
                .path .item:last-child:after{
                    right:.625em;
                }


            .path .item .link {
                position:relative;
                display:flex;
                justify-content:center;
                align-items:center;
                height:2em;
                padding:.5em .25em .5em .5em;
                text-decoration:none;
                z-index:5;
                cursor:pointer;
            }

            .path .item.completed,
            .path .item.completed:before,
            .path .item.completed:after{
                color:white;
                background:#4CAF50;
            }

            .path .item.current,
            .path .item.current:before,
            .path .item.current:after{
                color:white;
                background:#2196F3;
            }

            .path .item.current.danger,
            .path .item.current.danger:before,
            .path .item.current.danger:after{
                color:white;
                background:#F44336;
            }
</style>

<div class="card">
    <div class="card-body p-2">
            <ul class="path">
                <li class="item completed">
                    <span class="link">
                        <span class="title" title="Full Stage Name">Stage 1</span>
                    </span>
                </li>
                <li class="item completed">
                    <span class="link">
                        <span class="title" title="Full Stage Name">Stage 2</span>
                    </span>
                </li>
                <li class="item current">
                    <span class="link">
                        <span class="title" title="Full Stage Name">Stage 3</span>
                    </span>
                </li>
                <li class="item">
                    <span class="link">
                        <span class="title" title="Full Stage Name">Stage 4</span>
                    </span>
                </li>
            </ul>
    </div>
</div>
	

	

