@page
@model WebVella.Erp.Web.Pages.DebugModel
@{
	Layout = "~/Pages/_AppMaster.cshtml";
	ViewData["Title"] = "Desktop";

}

@*<div>Library</div>
	<textarea style="height:150px" class="form-control">@ViewBag.LibraryJson</textarea>
	<div class="mt-4">PageNodes</div>
	<textarea style="height:150px" class="form-control">@ViewBag.PageNodeListJson</textarea>*@

<div class="post" id="post-123">
	<div class="header">
		<div class="avatar">
			<img src="~/assets/avatar.png" />
		</div>
		<div class="meta">
			<div class="title"><a href="" class="username">administrator</a> created <a href="./">[NXT-1] First ticket</a></div>
			<div class="title-aux">1 minute ago</div>
		</div>
	</div>
	<div class="body">Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</div>
	<div class="footer">
		<div class="actions">
			<a href="./" class="post-comment-btn">Comment</a>
		</div>
		<ul class="comment-list">
			<li class="comment" id="comment-123">
				<div class="avatar">
					<img src="~/assets/avatar.png" />
				</div>
				<div class="meta">
					<div class="header">
						<div class="title"><a href="./" class="username">administrator</a></div>
						<div class="title-aux">5 minutes ago</div>
					</div>
					<div class="body">Sure, oooooooooooooooohhhhhhhhhhhhhhhh</div>
					<div class="actions"><a href="./" class="comment-reply-btn">Reply</a></div>
					<ul class="comment-list">
						<li class="comment">
							<div class="avatar">
								<img src="~/assets/avatar.png" />
							</div>
							<div class="meta">
								<div class="header">
									<div class="title"><a href="./" class="username">administrator</a></div>
									<div class="title-aux">5 minutes ago</div>
								</div>
								<div class="body">Sure, oooooooooooooooohhhhhhhhhhhhhhhh</div>
							</div>
						</li>
						<li class="comment">
							<div class="avatar">
								<img src="~/assets/avatar.png" />
							</div>
							<div class="meta">
								<div class="header">
									<div class="title"><a href="./" class="username">administrator</a></div>
									<div class="title-aux">5 minutes ago</div>
								</div>
								<div class="body">Sure, oooooooooooooooohhhhhhhhhhhhhhhh</div>
							</div>
						</li>
						<li class="add-new d-none">
							<div class="avatar">
								<img src="~/assets/avatar.png" />
							</div>
							<div class="meta">
								<div class="input-group">
									<textarea class="form-control" placeholder="Write a Reply"></textarea>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</li>
			<li class="comment" id="comment-234">
				<div class="avatar">
					<img src="~/assets/avatar.png" />
				</div>
				<div class="meta">
					<div class="header">
						<div class="title"><a href="./" class="username">administrator</a></div>
						<div class="title-aux">5 minutes ago</div>
					</div>
					<div class="body">Sure, oooooooooooooooohhhhhhhhhhhhhhhh</div>
					<div class="actions"><a href="./" class="comment-reply-btn">Reply</a></div>
					<ul class="comment-list">
						<li class="add-new d-none">
							<div class="avatar">
								<img src="~/assets/avatar.png" />
							</div>
							<div class="meta">
								<div class="input-group">
									<textarea class="form-control" placeholder="Write a Reply"></textarea>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</li>
		</ul>

		<div class="add-new d-none">
			<div class="avatar">
				<img src="~/assets/avatar.png" />
			</div>
			<div class="meta">
				<div class="input-group">
					<textarea class="form-control" placeholder="Write a Reply"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>

