################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebVella.ERP.sln.ide
artifacts/obj/WebVella.ERP.Storage.Mongo/Debug/ProjectRawReferences/ASP.NET 5.0/Microsoft.AspNet.Diagnostics.ICompilationException.dll
.vs/WebVella.ERP/v14/.suo
WebVella.ERP/WebVella.ERP.kproj.user
WebVella.ERP.Web/WebVella.ERP.Web.kproj.user
WebVella.ERP.v14.suo
*.user
/artifacts/*
WebVella.ERP.Web/npm-debug.log
/.vs/config/applicationhost.config
/WebVella.ERP.Web/node_modules/.bin
/WebVella.ERP.Web/node_modules
