<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebVella ERP Application</title>
</head>
<body>
    <h1>Welcome to WebVella ERP</h1>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>