<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/html; charset=utf-8" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/javascript; charset=utf-8" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/javascript; charset=utf-8" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/css; charset=utf-8" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" forwardWindowsAuthToken="false" startupTimeLimit="3600" />
  </system.webServer>
</configuration>