@page "/dev"
@model WebVella.Erp.Web.Pages.Dev.DevModel

@{
	Layout = "_SystemMaster";
}

<div>before</div>

<component type="typeof(HelloWorld)" render-mode="ServerPrerendered" param-user="@Model.CurrentUser">
	This is a test for child content
</component>

<div>after</div>

<script src="_framework/blazor.server.js" autostart="false"></script>
<script>
		(function start() {
			Blazor.start({
				logLevel: 1, // LogLevel.Debug
				configureSignalR: builder => builder.configureLogging("debug"), // LogLevel.Debug
				reconnectionOptions: {
                maxRetries: 99999999,
                retryIntervalMilliseconds: 1000,
            }
			});

		})()
</script>
<script>
function customDisplay() {
return {
show: () => { console.log('blazor show'); },
hide: () => { console.log('blazor hide'); },
failed: () => { console.log('blazor failed'); },
rejected: () => { console.log('blazor rejected'); window.location.reload();}
};
}

Blazor.defaultReconnectionHandler._reconnectionDisplay = customDisplay();

</script>
<script>
  window.handleTickerChanged = (count) => {
	console.log("log " + count);
  };
</script>