@page
@model WebVella.Erp.Site.Pages.ErrorModel
@using WebVella.Erp.Web.Models;
@{
	Layout = "~/Pages/_AppMaster.cshtml";
	ViewData["Title"] = "Error";
	var errors = new List<string>() { "error 1", "error 2" };
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-auto" style="width:500px;">
			@{ switch (HttpContext.Response.StatusCode)
				{
					case 401:
						<p>НЕВАЛИДЕН ДОСТЪП:  Нямате достъп до страницата.</p>
						break;
					case 404:
						<p>ГРЕШКА:  Страницата която търсите не беше намерена.</p>
						break;
					case 500:
						<p>Възникна непредвидена грешка.</p>
						break;

				}
			}
		</div>
	</div>
</div>
