@page
@model WebVella.Erp.Site.Pages.ErrorModel
@{
	Layout = "";
}

<html>
<head>
	<title>Error</title>
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-auto" style="width:500px;">
				@{ switch (HttpContext.Response.StatusCode)
					{
						case 401:
							<h1>ACCESS DENIED:  No permission to view requested page or resource.</h1>
							break;
						case 404:
							<h1>ERROR:  The page or resource you requested is not found.</h1>
							break;
						case 500:
							<h1>An unexpected system error occurred.</h1>
							break;
						default:
							<h1>An unexpected error occurred.</h1>
							break;

					}
				}
			</div>
		</div>
	</div>

</body>
</html>

