<div class="p-2">
	<h4><i class="fas fa-rss"></i> Feeds list</h4>
	<p>WebComponents fail to load properly so the text only design</p>
</div>
@* Probable reason https://github.com/ionic-team/stencil/issues/793 *@