<!DOCTYPE html>

<html lang="en" ng-app="wvApp" ng-controller="ApplicationController as appData">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="::appData.pageTitle"></title>
    <!--plugin:webvella-root-->
    <link href="~/plugins/webvella-root/lib/bootstrap/dist/css/bootstrap.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
    <link href="~/plugins/webvella-root/lib/ngtoast/dist/ngtoast.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
	<link href="~/plugins/webvella-root/lib/angular-loading-bar/build/loading-bar.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
    <link href="~/plugins/webvella-root/lib/font-awesome/css/font-awesome.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
    <link href="~/plugins/webvella-root/lib/offline/themes/offline-theme-default.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
    <link href="~/plugins/webvella-root/lib/offline/themes/offline-language-english.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
    <link href="~/plugins/webvella-root/lib/angular-xeditable/dist/css/xeditable.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
    <link href="~/plugins/webvella-root/css/webvella-root.module.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
    <link href="~/plugins/webvella-root/lib/ng-sortable/dist/ng-sortable.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />
	<link href="~/plugins/webvella-root/lib/ng-ckeditor/ng-ckeditor.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />   

    <!-- plugin:webvella-desktop-->
    <link href="~/plugins/webvella-desktop/css/webvella-desktop.module.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />

    <!-- plugin:webvella-admin-->
    <link href="~/plugins/webvella-admin/css/webvella-admin.module.css?v=@ViewBag.CacheBreaker" rel="stylesheet" />


    @*<link href="~/core/app-core.styles.css" rel="stylesheet" />*@

</head>
<body class="theme-{{appData.bodyColor}}"  ng-cloak ng-class="{'mini-sidebar':appData.$storage.isMiniSidebar, 'not-visible-side-menu': !appData.sideMenuIsVisible}">
	<toast></toast>

	<!-- here is injected the webvella-root state, which should be inherited by all plugins -->
	<div ui-view="rootView"></div>

	<!-- plugin:webvella-root -->
	<script src="~/plugins/webvella-root/lib/ckeditor/ckeditor.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular/angular.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-i18n/angular-locale_en-us.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-animate/angular-animate.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-sanitize/angular-sanitize.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-aria/angular-aria.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-messages/angular-messages.js?v=@ViewBag.CacheBreaker"></script>
	@*<script src="~/plugins/webvella-root/lib/angular-touch/angular-touch.js?v=@ViewBag.CacheBreaker"></script>*@
	<script src="~/plugins/webvella-root/lib/fastclick/lib/fastclick.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-cookies/angular-cookies.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-ui-router/release/angular-ui-router.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/ngtoast/dist/ngToast.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-bootstrap/ui-bootstrap-tpls.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-xeditable/dist/js/xeditable.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/moment/min/moment-with-locales.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/ng-sortable/dist/ng-sortable.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/checklist-model/checklist-model.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/ng-file-upload/ng-file-upload-shim.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/ng-file-upload/ng-file-upload.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/offline/offline.min.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/vendor-init.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/ng-ckeditor/ng-ckeditor.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/libphonenumber/libphonenumber.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/ngstorage/ngstorage.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/bootstrap-ui-datetime-picker/dist/datetime-picker.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-recursion/angular-recursion.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-loading-bar/build/loading-bar.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/lib/angular-ui-tree/dist/angular-ui-tree.js"></script>

	@* Core Application module definition *@
	<script>
        @*In order to dynamically add plug-in modules, the appCore definition should be with server side aspect*@
		(function () {
			'use strict';
			angular
                .module('wvApp', [
                    // Angular modules
                    'ngAnimate', 'ngCookies', 'ngSanitize', //'ngTouch'
                     // 3rd Party Modules
                    'ui.router', 'ngMessages','ngToast', 'xeditable', 'ui.bootstrap', 'as.sortable', 'checklist-model','ui.tree',
					'ngCkeditor', 'ngFileUpload', 'ngStorage', 'ui.bootstrap.datetimepicker','RecursionHelper','angular-loading-bar',
					'doubleScrollBars',
					//External plugins - should be defined before the platform ones to provide ability for state overrides for specific routes
					//'shopBase',
					
                    //plugins
                    'webvellaRoot', 'webvellaAdmin', 'webvellaDesktop', 'webvellaAreas', 'webvellaDevelopers',

                    //Plug-in modules
                    @ViewBag.PluginModulesNameStringArray
                ])
                .config(config)
                .run(run);

			// Configuration ///////////////////////////////////
			config.$inject = ['$httpProvider', '$urlRouterProvider', '$logProvider', 'wvAppConstants', 'ngToastProvider'];
			function config($httpProvider,$urlRouterProvider, $logProvider, wvAppConstants, ngToastProvider) {

				//$httpProvider.defaults.headers.common["X-Requested-With"] = 'XMLHttpRequest';

				$urlRouterProvider.otherwise('/login');
				$httpProvider.useApplyAsync("true");
				$logProvider.debugEnabled(wvAppConstants.debugEnabled);
				moment.locale('en');
				ngToastProvider.configure({
					animation: 'fade',
					horizontalPosition: 'center',
					timeout: 2000,
					maxNumber: 1
				});
			};

			// Run //////////////////////////////////////
			run.$inject = ['editableOptions', 'editableThemes'];
			function run(editableOptions, editableThemes) { editableOptions.theme = 'bs3'; editableThemes.bs3.buttonsClass = 'btn-sm'; };
		})();
	</script>
	<script src="~/application.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/application.constants.js?v=@ViewBag.CacheBreaker"></script>
    
	<!-- Server generated global variables -->
	<script>
		@ViewBag.GlobalVariablesJs
		var htmlCacheBreaker = @ViewBag.CacheBreaker;		
	</script>

	<!-- plugin:webvella-root -->
	<script src="~/plugins/webvella-root/base.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/login.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/error.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/providers/root.service.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/providers/validdate.directive.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/providers/confirmclick.directive.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-root/providers/focusMe.directive.js?v=@ViewBag.CacheBreaker"></script>
	<!-- plugin:webvella-desktop -->
	<script src="~/plugins/webvella-desktop/base.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-desktop/browse.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-desktop/providers/topnav.factory.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-desktop/providers/browsenav.factory.js?v=@ViewBag.CacheBreaker"></script>

	<!-- plugin:webvella-admin -->
	<script src="~/plugins/webvella-admin/base.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entities.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/topnav.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/sidebar.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-details.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/providers/admin.service.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/providers/sidebar.factory.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-relations.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-view-manage.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-view-manage-info.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-view-manage-sidebar.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/directives/fixed-navigation.directive.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-fields.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-views.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-lists.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-trees.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-tree-manage.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-tree-nodes-manage.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/entity-list-manage.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/areas.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/users.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/roles.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-admin/providers/view-tree-manage.directive.js?v=@ViewBag.CacheBreaker"></script>

	<!-- plugin:webvella-areas -->
	<script src="~/plugins/webvella-areas/base.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/entity-records.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/topnav.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/sidebar.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/providers/areas.service.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/record-create.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/record-view.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/view-record-sidebar.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/providers/recursive-view.directive.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/providers/recursive-list.directive.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/providers/view-tree-select.directive.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-areas/providers/scroll.directive.js?v=@ViewBag.CacheBreaker"></script>

	

	<!-- plugin:webvella-developers -->
	<script src="~/plugins/webvella-developers/base.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="~/plugins/webvella-developers/providers/query.service.js?v=@ViewBag.CacheBreaker"></script>

	<!-- external-plugin:shop -->
	@*<script src="http://localhost:2201/plugins/shop-base/base.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/plugins/shop-base/sidebar.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/plugins/shop-base/topnav.controller.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/application.constants.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/plugins/shop-base/price-options.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/plugins/shop-base/providers/shop.service.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/plugins/shop-base/migration-index.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/plugins/shop-base/migration-women-category.module.js?v=@ViewBag.CacheBreaker"></script>
	<script src="http://localhost:2201/plugins/shop-base/migration-material-category.module.js?v=@ViewBag.CacheBreaker"></script>*@


	@ViewBag.PluginModulesJsFileStringArray

</body>



</html>