<!DOCTYPE html>

<html lang="en" ng-app="ErpApp">
<head>
	<meta charset="utf-8" />
	<title>WebVella ERP</title>
	<link href="~/lib/roboto/import.css" rel="stylesheet" />


	<link href="~/bower_components/angular-material/angular-material.css" rel="stylesheet" />
	<link href="~/app.css" rel="stylesheet" />
</head>
<body layout="row" ng-controller="AppController">
	<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button id="sidenav-user" aria-label="Show user menu">
					<div class="avatar-wrapper"><img src="~/assets/mozart.jpg" class="avatar"></img></div>
					<div layout="column" class="username">
						<span flex>Wolfgang</span>
						<span flex>Mozart</span>
					</div>
				</md-button>
			</div>
		</md-toolbar>
		<md-content flex role="navigation">
			<div ui-view="AreaLocalNavView"></div>
		</md-content>
	</md-sidenav>
	<div layout="column" tabindex="-1" role="main" flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button  class="md-icon-button" ng-click="toggleLeft()" hide-gt-md aria-label="Toggle left site menu" style="margin-right:5px !important;">
					<md-icon md-svg-src="/lib/fa/bars.svg" class="s24"></md-icon>
				</md-button>
				<div ui-view="AreasNavView"></div>
				<span flex></span>
				<div ui-view="ActionsNavView"></div>
			</div>
		</md-toolbar>
		<md-content  flex layout-padding id="content">
			<div ui-view="ContentView"></div>
		</md-content>
	</div>
	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
		<div ui-view="ActionsLocalNavView"></div>
	</md-sidenav>


	<!-- Angular Material Dependencies -->
	<script src="~/bower_components/angular/angular.js"></script>
	<script src="~/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="~/bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="~/bower_components/angular-touch/angular-touch.js"></script>
	<script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="~/bower_components/angular-messages/angular-messages.js"></script>
	<script src="~/bower_components/angular-material/angular-material.js"></script>

	<!-- Application -->
	<script src="~/app.js"></script>
	<script src="~/services.js"></script>
	<script src="~/config.js"></script>
	<script src="~/areaEntity/areaEntity.js"></script>
	<script src="~/navigation/navigation.js"></script>
	<script src="~/adminentities/adminentities.js"></script>

</body>
</html>