<!DOCTYPE html>

<html lang="en" ng-app="appCore" ng-controller="AppCoreController as appData">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="appData.pageTitle"></title>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bower_components/ngtoast/dist/ngtoast.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/bower_components/offline/themes/offline-theme-default.css" rel="stylesheet" />
    <link href="~/bower_components/offline/themes/offline-language-english.css" rel="stylesheet" />
    <link href="~/app-core.styles.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <!-- Plug-in modules CSS includes -->
    @ViewBag.PluginModulesCssFileStringArray
</head>
<body class="theme-{{appData.class}}" ng-class="{'mini-sidebar':appData.isMiniSidebar}">
    <toast></toast>
    <div id="topbar"  ui-view="topbarView"></div>
    <div id="wrapper">
        <div id="sidebar" class="hidden-xs" ui-view="sidebarView"></div>
        <div id="content">
            <div id="page-topnav" ui-view="topnavView"></div>
            <div id="page-title" ui-view="titleView"></div>
            <div id="page-content" ui-view="contentView"></div>
        </div>
    </div>

    <!-- 3rd party component JS includes -->
    <script src="~/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="~/bower_components/angular-aria/angular-aria.js"></script>
    <script src="~/bower_components/angular-messages/angular-messages.js"></script>
    <script src="~/bower_components/angular-touch/angular-touch.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/bower_components/ngtoast/dist/ngToast.js"></script>
    <script src="~/bower_components/offline/offline.min.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- Core Application module definition -->
    <script>
        //In order to dynamically add plug-in modules, the appCore definition should be with server side aspect
        (function () {
            'use strict';

            angular
                .module('appCore', [
                    // Angular modules
                    'ngAnimate',
                    'ngTouch',

                    // 3rd Party Modules
                    'ui.router', 'ngMessages',

                    // Core modules
                    'sidebarModule', 'topnavModule', 'pageTitleModule',

                    // Page modules
                    'homeModule', 'entityListModule',

                    //Plug-in modules
                    @ViewBag.PluginModulesNameStringArray
                ]);
        })();
    </script>



    <!-- Core Application -->
    <script src="~/app-core.module.js"></script>
    <script src="~/app-core.controller.js"></script>
    <script src="~/app-core.constants.js"></script>
    <script src="~/core-providers/site-meta.service.js"></script>

    <!-- Core Shared Modules -->
    <script src="~/core-modules/sidebar/sidebar.controller.js"></script>
    <script src="~/core-modules/topnav/topnav.controller.js"></script>
    <script src="~/core-modules/topnav/topnav.service.js"></script>
    <script src="~/core-modules/page-title/page-title.controller.js"></script>

    <!-- Core Page Modules -->
    <script src="~/core-modules/home/home.controller.js"></script>
    <script src="~/core-modules/entity-list/entity-list.controller.js"></script>


    <!-- Plug-in modules JS includes -->
    @ViewBag.PluginModulesJsFileStringArray


</body>
</html>