<div class="p-2">
	<table class="table table-bordered table-sm">
		<tbody>
			<tr>
				<th width="200">Total billable</th>
				<td>0</td>
			</tr>
			<tr>
				<th>Total not billable</th>
				<td>0</td>
			</tr>
		</tbody>
	</table>

	<div class="alert alert-info mt-3"><i class="fas fa-info-circle"></i> Here will be presented detailed information for each project</div>
</div>