<table class="table table-bordered table-sm mt-5">
	<tbody>
		<tr>
			<th width="200">Total billable</th>
			<td>0</td>
		</tr>
		<tr>
			<th>Total not billable</th>
			<td>0</td>
		</tr>
	</tbody>
</table>

@*For each project*@

<div class="mt-5">
	<h3>Project name</h3>
	<table class="table table-bordered table-sm">
		<thead>
			<tr>
				<th>subject</th>
				<th width="120">type</th>
				<th width="120">billable</th>
				<th width="120">not-billable</th>
			</tr>
		</thead>
		<tbody>
		@*For each task with timelog for this month*@
			<tr>
				<td>
					<a target="_blank" href="#">Task subject</a>
				</td>
				<td>type</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>
