@using WebVella.Erp.Web.Models;
@{

}
<!--c:SearchNav_Default-->
<div class="menu-nav-wrapper search pr-2 pl-2">
	<div id="search-nav">
		<form class="form-inline">
			<input type="text" class="form-control form-control-sm" placeholder="Search App">
		</form>
	</div>
</div>