<h2 class="md-title">Entity Definitions</h2>
<div class="entity-tools" layout="row">
	<md-button ng-click="showCreateEntityModal($event)"><md-icon md-svg-src="/lib/fa/plus.svg" class="s16"></md-icon> create new</md-button>
	<span flex></span>
	<input class="searchbox" type="text" placeholder="search by name">

</div>
<table id="table" class="table table-hover table-bordered">
	<thead>
		<tr>
			<th style="width:140px;">modified on</th>
			<th>Name</th>
			<th style="width:60px;">Fields</th>
			<th style="width:200px;"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>24 Feb 2013 12:23</td>
			<td data-title="Name">
				Material Design Sidebar system
			</td>
			<td data-title="Fields">
				234
			</td>
			<td data-title="Actions">
				<md-button class="md-warn" aria-label="More"  ng-click="showDeleteEntityModal($event, event)">
					delete
				</md-button>
				<md-button class="" aria-label="More"  ng-click="manageEntity($event, event.name)">
					edit
				</md-button>
			</td>
		</tr>

	</tbody>
</table>

<script type="text/ng-template" id="createEntityModal.html">
	<md-dialog aria-label="Create entity">
		<h4 class="md-title">Create a new entity definition</h4>
		<md-dialog-content class="sticky-container">
			<form style="width:500px" name="createEntityForm">
				<md-input-container>
					<label>Name</label>
					<input md-maxlength="15" required name="name" ng-model="newEntity.name" pattern="^[a-z0-9_\-]+$">
					<div ng-messages="createEntityForm.name.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
						<div ng-message="pattern">Only lowercase alphanumeric chars are allowed.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Label</label>
					<input md-maxlength="30" required name="label" ng-model="newEntity.label">
					<div ng-messages="createEntityForm.label.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Label plural</label>
					<input md-maxlength="30" required name="labelPlural" ng-model="newEntity.labelPlural">
					<div ng-messages="createEntityForm.labelPlural.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
					</div>
				</md-input-container>
			</form>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<md-button ng-click="answer('useful')" class="md-primary md-raised">
				Create
			</md-button>
			<md-button ng-click="answer('not useful')">
				Cancel
			</md-button>
		</div>
	</md-dialog>
</script>

<script type="text/ng-template" id="deleteEntityModal.html">
	<md-dialog aria-label="Delete entity">
		<h4 class="md-title">Delete an entity definition</h4>
		<md-dialog-content class="sticky-container">
			<form style="width:500px" name="createEntityForm">
				<md-input-container>
					<label>Type "DELETE" to confirm the deletion</label>
					<input required name="name" ng-model="newEntity.name" pattern="^delete|DELETE|Delete$">
					<div ng-messages="createEntityForm.name.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="pattern">does not match "DELETE"</div>
					</div>
				</md-input-container>
			</form>
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<md-button ng-click="answer('useful')" class="md-warn md-raised">
				DELETE
			</md-button>
			<md-button ng-click="answer('not useful')">
				Cancel
			</md-button>
		</div>
	</md-dialog>
</script>