@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebVella.Erp.Web
@addTagHelper *, WebVella.Controls
@using WebVella.Erp.Web.Models;
@{
	var applicationMenu = (List<MenuItem>)ViewBag.ApplicationMenu;

}
<div class="app-sitemap">
@foreach (var menuItem in applicationMenu)
{
	@*@Html.Partial("NavMenu", menuItem)*@
	<partial name="NavMenu" for="@menuItem"/>
}
</div>