<md-button ng-click="toggleRight()" class="md-icon-button" aria-label="Quick elements create" title="Quick elements create"><md-icon md-svg-src="/lib/fa/plus.svg"></md-icon></md-button>
<md-button class="md-icon-button" aria-label="Go to search" title="Go to search"><md-icon md-svg-src="/lib/fa/search.svg"></md-icon></md-button>
<md-button ng-click="GoToAdmin()" class="md-icon-button" ng-class="{'md-raised': SetAdminActive()}" ng-disabled="SetAdminActive()" aria-label="Go to settings" title="Go to settings"><md-icon md-svg-src="/lib/fa/cog.svg"></md-icon></md-button>
<md-button class="md-icon-button" aria-label="Log out" title="Log out"><md-icon md-svg-src="/lib/fa/sign-out.svg"></md-icon></md-button>
