<md-input-container class="searchbox" md-no-float ng-show="selectedArea.hasSearch">
	<!-- Use floating label instead of placeholder -->
	<!--<label>Search</label>-->
	<input ng-model="user.name" type="text" placeholder="Search">
</md-input-container>

<md-list class="menu" layout="column" ng-show="selectedArea.hasDashboard" style="padding-bottom:0;">
	<md-list-item flex>
		<md-button ng-click="GoToDashboard()"  ng-class="{'md-primary': SetAreaLocalActive('null','dashboard')}">Dashboard</md-button>
	</md-list-item>
</md-list>
<md-list class="menu" layout="column" ng-repeat="section in selectedArea.sections">
	<md-list-item flex class="header" layout="column" ng-show="section.name != 'null'">
		<md-button flex layout="row">
			{{section.label}}
			<span flex=""></span>
			<md-icon md-svg-src="lib/fa/chevron-down.svg" class="s12" alt="chevron"></md-icon>
		</md-button>
	</md-list-item>
	<md-list-item flex ng-repeat="entity in section.entities">
		<md-button ng-click="GoToEntity(section.name,entity.name)" ng-class="{'md-primary': SetAreaLocalActive(section.name,entity.name)}">{{entity.label}}</md-button>
	</md-list-item>
</md-list>