
@addTagHelper *, WebVella.TagHelpers
@using WebVella.Erp.Web.Utils;
@using WebVella.Erp.Web.Components;
@using WebVella.Erp.Web.Models;
@{
	var options = (PcJavaScriptBlock.PcJavaScriptBlockOptions)ViewBag.Options;
	var node = (PageBodyNode)ViewBag.Node;
	var label = "<script>Embedded Script</script>";
}
<div class="p-1">@label</div>