@addTagHelper *, WebVella.Erp.Plugins.Core
@addTagHelper *, WebVella.Erp.Web
@addTagHelper *, WebVella.TagHelpers
@using WebVella.Erp.Web.Utils;
@using WebVella.Erp.Web.Components;
@using WebVella.Erp.Web.Models;
@{
	var options = (PcBtnToolbar.PcBtnToolbarOptions)ViewBag.Options;
	var node = (PageBodyNode)ViewBag.Node;
}
<div class="p-1">
<wv-pb-node-container parent-node-id="@node.Id" container-id="body"></wv-pb-node-container>
</div>